main {
  margin-top: 120px;
  margin-bottom: 50px;
}

.read-more {
  color: red !important;
}

#slides {
  display: none;
}

.mySlides {
  display: none;
}


#slideshow {
    height:400px;
    width: 800px;
}

.glide__arrow {
  margin-top: 80px !important;
  color: black !important;
  border: 2px solid rgba(0,0,0) !important;
}

.glide__slide {
  padding-left: 30px !important;
}

.glide__track {
  height: 300px !important;
}